<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URK20CS2001 Exp - 9 | Working with angular js Forms and Routing</title>

    <!-- Bootstrap Cdn -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <!-- External CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Angular JS CDN  -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="assets/images/rubnagino-favicon-logo.png">
</head>

<body>

    <header id="navigation">
        <nav class="navbar navbar-expand-lg bg-light fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="assets/images/rubnagino-favicon-logo.png" alt="Navbar-brand-icon" width="32" height="32"
                        class="d-inline-block align-text-top">&emsp;URK20CS2001 | Exp-9 | Forms</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">Questions</a>
                            <ul class="dropdown-menu">
                                <li><a href="index.html" class="dropdown-item">Question-1</a></li>
                                <li><a href="routing.html" class="dropdown-item">Question-2</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main ng-app="">
        <div class="container">
            <h2>Megaplay Registration 2022</h2>
            <form name="myForm" id="event-form">
                <div class="my-3">
                    <label class="form-label "><b>Name: </b></label>
                    <input type="text" class="form-control" ng-model="myName" name="myName" aria-describedby="name"
                        placeholder="Your name" required>
                    <span id="name" class="form-text text-danger" ng-show="myForm.myName.$error.required">Name is
                        required!</span>
                </div>

                <div class="my-3">
                    <label class="form-label"><b>Register number: </b></label>
                    <input type="text" class="form-control" ng-model="myRegNo" name="myRegNo" aria-describedby="regno"
                        placeholder="Your register number" required>
                    <span id="regno" class="form-text text-danger" ng-show="myForm.myRegNo.$error.required">Register
                        Number is Required!!!</span>
                </div>

                <div class="my-3">
                    <label class="form-label"><b>Year of Study: </b></label>&emsp;
                    <input type="radio" class="form-check-input" ng-model="myYear" name="myYear" required>
                    <label class="form-check-label">1st</label>&emsp;

                    <input type="radio" class="form-check-input" ng-model="myYear" name="myYear" required>
                    <label class="form-check-label">2nd</label>&emsp;

                    <input type="radio" class="form-check-input" ng-model="myYear" name="myYear" required>
                    <label class="form-check-label">3rd</label>&emsp;

                    <input type="radio" class="form-check-input" ng-model="myYear" name="myYear" required>
                    <label class="form-check-label">4th</label>&emsp;

                    <span class="form-text text-danger" ng-show="myForm.myYear.$error.checked">Year is required!!!</span>
                </div>

                <div class="my-3">
                    <label class="form-label"><b>Department: </b></label>
                    <select class="form-select" ng-model="department" name="department">
                        <option value="">Select your department</option>
                        <option value="1" aria-required="true">Computer Science and Engineering</option>
                        <option value="2" aria-required="true">Mechanial Engineering</option>
                        <option value="3" aria-required="true">Civil Engineering</option>
                    </select>

                    <span class="form-text text-danger" ng-show="myForm.department.$error.invalid">Department is required!!!</span>
                </div>

                <div class="my-3">
                    <label class="form-label"><b>Type of Event: </b></label>&emsp;
                    <input type="checkbox" value="" class="form-check-input" ng-model="myEvent1" name="myEvent1" required>
                    <label class="form-check-label">Musician</label>&emsp;
                    
                    <input type="checkbox" value="" class="form-check-input" ng-model="myEvent2" name="myEvent2">
                    <label class="form-check-label">Singing</label>&emsp;
                    
                    <input type="checkbox" value="" class="form-check-input" ng-model="myEvent3" name="myEvent3">
                    <label class="form-check-label">Choreography</label>&emsp;
                
                    <input type="checkbox" value="" class="form-check-input" ng-model="myEvent4" name="myEvent4">
                    <label class="form-check-label">Volunteer</label>&emsp;
                    
                    <span class="form-text text-danger" ng-show="myForm.myEvent1.$error.required">Event field is required!!!</span>
                </div>

                <div class="my-3">
                    <button id="submit-btn" onclick="return alert('Form details submitted Successfully!!!')" class="btn btn-dark">Submit</button>
                </div>

            </form>
        </div>
    </main>

    <!-- Bootstrap Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
        crossorigin="anonymous"></script>
</body>

</html>